body{
    background-color: black;
    /* background-image: "https://scontent.fdel25-5.fna.fbcdn.net/v/t31.18172-8/13582115_1348654095150318_8745875447449480735_o.jpg?_nc_cat=103&ccb=1-7&_nc_sid=2be8e3&_nc_ohc=-EomOn_oaN0AX86w2It&_nc_ht=scontent.fdel25-5.fna&oh=00_AfCG6pruMnov_tu0HqdbyMHDBSC4RSiG_GSC4vAtFM0O9g&oe=65A280AA"; */
    color: white;
    padding-left: 10px;
}
#gold{
color: goldenrod;
}
hi{
    color: goldenrod;
}
#xx
{
    width: 200px;
    height: 250px;
}
#x{
    color: goldenrod;
    
}

#l{
    color: goldenrod;
}